/******************************************
/* CSS
/*******************************************/
.hidden{
  display:none;
}
/* Box Model Hack */
*{
  box-sizing: border-box;
}
body{
  background-color: maroon;
}

/******************************************
/* LAYOUT
/*******************************************/
.column{
  display:flex;
  flex-flow:column wrap;
  justify-content:center;
  align-content: center;
  text-align: center;
  
}
input{
  width:350px;
  text-align: left;
}


/******************************************
/* header
/*******************************************/
header{
 display:flex;
 width:100vw;
 flex-flow: row nowrap;
 justify-content:space-around;

}
header > section{
 flex-basis: 33%;

}
h1{
  font-size: 70px;
  font: bold;
  color: #D4AF37;
}
h2{
  font-size: 50px;
  font: bold;
  color: #D4AF37;
  margin-top: -10px;
}

 
.helper{
  width:250px;
  height:250px;
  margin:50px auto;
  border-radius: 100%;
  border:5px solid gold;
}
.help{
  color:white;
  width:33%;
}
.instruct{
  width:200px;
  margin-left:25px;
}

label{
  color:white;
}


/******************************************
/* main section
/*******************************************/
main{
  display:flex;
  width:90vw;
  height:600px;
  margin:0 auto;
  border:2px solid black;
}

.mains{
  display:flex;
  height:inherit;
  width:inherit;
  border:2px solid black;
}
.animeName{
  font-size:25px;
  margin-top: 10px;
}
span{
  font-size:20px;
  color:white;
}

.anime{
  height:200px;
  width:200px;
  margin-left:-20px;
  border-radius:100%;
  border:5px solid gold;
  
}
.similar {
  font-size:30px;
  font-weight: bold;
}
.config{
  display:flex;
  flex-flow:column wrap;
  justify-content: space-between;
  align-content:center;
}
section{
  padding-left:20px;
  padding-bottom: 20px;;
}

.animeVideo{
  width:inherit;
  height:inherit;
  margin-bottom: 25px;
}
.video{
  width:400px;
  height:400px;
  margin:auto 0;
}
.mobile{
  margin:0 auto;
}
iframe{
border:none;
}

 